{% extends 'adminauth/adminbase.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="mb-3">
        <button class="btn btn-primary" id="pdfButton">Print as PDF</button>
        <button class="btn btn-success" id="excelButton">Print as Excel</button>
    </div>
    <h1 class="mb-4">Sales Report</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" id="searchInput" placeholder="Search Order ID">
                <button class="btn btn-primary" id="searchButton">Search</button>
                <button class="btn btn-secondary" id="clearButton">Clear</button>
            </div>
        </div>
        <div class="col-md-6">
            <p class="text-end">Total entities: {{ sales_report|length }}</p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="salesTable">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>User name</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Payment Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for order in sales_report %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.status }}</td>
                        <td>${{ order.order_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    table {
        /* Width of the table */
        width: 100%;
        /* Overflow of the table */
        overflow: hidden;
      }
      
      table tr:nth-child(even) {
        /* Background color of the even rows */
        background-color: #f2f2f2;
      }
      
      table th, table td {
        /* Padding of the cells */
        padding: 5px;
      }
      
      table th {
        /* Text alignment of the headers */
        text-align: left;
      }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.10.2/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>


<script>
    
    document.getElementById('searchButton').addEventListener('click', function() {
        var searchTerm = document.getElementById('searchInput').value.trim().toLowerCase();
        var rows = document.querySelectorAll('#salesTable tbody tr');
        rows.forEach(function(row) {
            var orderId = row.querySelector('td:first-child').textContent.trim().toLowerCase();
            if (orderId.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    document.getElementById('clearButton').addEventListener('click', function() {
        document.getElementById('searchInput').value = '';
        var rows = document.querySelectorAll('#salesTable tbody tr');
        rows.forEach(function(row) {
            row.style.display = '';
        });
    });

    document.getElementById('pdfButton').addEventListener('click', function() {
        var doc = new jsPDF();
        doc.text("Sales Report", 10, 10);
          
        var table = document.getElementById('salesTable');
        var tableHtml = table.outerHTML;
        doc.fromHTML(tableHtml, 15, 15, {
            tableLayout: 'auto', // Use 'auto' for better layout
            width: 190, // Adjust the width to fit within the PDF page
            margin: { top: 20, bottom: 20, left: 10, right: 10 } // Adjust margins
        });
          
        doc.save('sales_report.pdf');
    });

    document.getElementById('excelButton').addEventListener('click', function() {
        console.log('the buttin is clicked')
        var table = document.getElementById('salesTable');

        TableExport(table, {
            formats: ['xlsx'],
            exportButtons: false
        }).exportToExcel();
    });
    
    
</script>

{% endblock %}
