{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        
                        <!-- Billing Address Section -->
                        <h4 class="card-title mb-4">Billing Address</h4>
                            <!-- Add Address Button -->
                        <a href="{% url 'add_address' %}" class="btn btn-primary mb-2">
                            <i class="fas fa-plus"></i> Add Address
                        </a>

                        <form action="{% url 'checkout' %}" method="post">
                            {% csrf_token %}

                            <!-- Display the selected address details -->
                            {% for address in addresses %}
                            <div class="col-md-6 form-group">                                   
                                <input type="radio" name="selected_address" id="selected_address" value="{{ address.id }}"
                                {% if forloop.first %}checked{% endif %}>
                                {{ address.first_name }} {{ address.last_name }} 
                                <p class="mb-0">{{ address.address_line_1 }}</p>
                                {% if address.address_line_2 %}
                                    <p class="mb-0">{{ address.address_line_2 }}</p>
                                {% endif %}
                                <p class="mb-0">{{ address.city }}, {{ address.state }}, {{ address.country }}</p>
                                <p class="mb-0">Phone: {{ address.phone }}</p>
                            </div>
                            {% endfor %}

                            <!-- Hidden input for the selected_address field -->
                            {% comment %} <input type="hidden" name="selected_address" value="{{ selected_address.id }}"> {% endcomment %}

                            <!-- Display the user details -->
                            {% comment %} <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label>
                                        {{ user.first_name }} {{ user.last_name }}
                                    </label>
                                    <p class="mb-0">{{ user.email }}</p>
                                    <p class="mb-0">Phone: {{ user.phone_number }}</p>
                                </div>
                            </div> {% endcomment %}

                            <!-- Hidden input for the user field -->
                            <input type="hidden" name="user" value="{{ user.first_name }}">

                            {% if addresses %}
                                <!-- Add a hidden input field to include the grand_total in the form data -->
                                <input type="hidden" name="grand_total" value="{{ grand_total }}">

                                <!-- Hidden inputs for the other fields -->
                                <input type="hidden" name="order_number" value="{{ order_number }}">
                                <input type="hidden" name="order_total" value="{{ order_total }}">
                                <input type="hidden" name="tax" value="{{ tax }}">
                                <input type="hidden" name="status" value="{{ status }}">
                                <input type="hidden" name="ip" value="{{ ip }}">
                                <input type="hidden" name="is_ordered" value="{{ is_ordered }}">
                                <input type="hidden" name="created_at" value="{{ created_at }}">
                                <input type="hidden" name="updated_at" value="{{ updated_at }}">

                                <button type="submit" name="submit" class="btn btn-success btn-block">COD/Place Order</button>
                            {% else %}
                                <p>Please add an address before placing the order.</p>
                            {% endif %}

                            <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Display Cart Items and Grand Total -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Your Cart</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{cart_item.product.image.url }}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.title }}</a>
                                                {% if cart_item.product.category.title != "Accessories" %}
                                                <p class="text-muted small">
                                                    Ram,Size:
                                                    {% for variation in cart_item.variation.all %}
                                                    {{ variation.variation_value }}
                                                    {% endfor %}
                                                </p>
                                                {% endif %}
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="input-group input-spinner">
                                                <input type="text" class="form-control"  value="{{ cart_item.quantity }}">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$ {{ grand_total|floatformat:2 }}</var>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Display the Grand Total Price -->
                        <div class="text-right">
                            <h4>Total: $ {{ grand_total|floatformat:2 }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
